body {
    font-family: Arial, sans-serif;
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.converter {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-left: -400px;
}
.converter input {
    width: 150px;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
    display: flex;
    align-items: center;
    margin: 5px;
}

label input[type="radio"] {
    margin-right: 5px;
}

.converter button {
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.converter button:hover {
    background-color: #0056b3;
}
#result {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}
